
.typewriter{
    color: #F0ECE5;
    font-size: 22px;
    font-family: andale mono, monospace;
    white-space: nowrap;
    overflow: hidden;
    animation: typewriter 3s steps(15)  alternate,
    blink 800ms steps(3) infinite normal;
    border-right: 2px solid #F0ECE5;
  } 
  
  @keyframes typewriter {
    from {
      width: 0;
    }
    
    to {
      width: 350px;
    }
  }
    
  @keyframes blink {
    from {
      border-color: white;
    }
    
    to {
      border-color: transparent;
    }
  }